
@keyframes rainbow {
  0% { color: red; }
  20% { color: orange; }
  40% { color: yellow; }
  60% { color: green; }
  80% { color: blue; }
  100% { color: violet; }
}

body {
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #eee;
  font-size: 18px;
  background-color: #071138;
  background-image: repeating-linear-gradient(
    135deg, transparent 0 49px, #eee1 109px 
    50px
  );
  min-height: 100vh;
}

a:hover {
  cursor: pointer;
}

.BLData-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px; 
}

.chart-container {
  flex: 1;
  min-width: 0;
}

.history-container {
  margin-top: 9%;
  width: 300px; 
  max-height: 80vh;
  overflow-y: auto; 
  border: 1px solid #ddd;
  padding: 10px;
}

.history-item {
  margin-bottom: 10px;
}

.navbar-nav .nav-item.active a {
  color: #007bff; 
  font-weight: bold; 
}


.logSign-forms {
  min-height: 80vh;
  align-items: flex-start;
  padding: 2rem;
}

.logSign-forms form {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin-bottom: 1rem; 
}

/* .logSign-forms ul {
  color: #2af86f;
  font-size: 20px;
IDK
} */

.header  {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  color: #eee;
  transition: color 0.3s ease;
}

.nav-link:hover {
  animation: rainbow 2s 1;
} 


@media (max-width: 767.98px) {
  .logSign-forms {
    flex-direction: column;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .BLData-container {
      flex-direction: column;
      align-items: stretch;
  }

  .history-container {
      width: 100%; 
      max-height: none;
}
}